html {
	height: 100%;
}

body { 
	margin: 0; 
	width: 100%;
	height: 100%;
	position: relative;
	/*
	background: url("../img/img.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	*/
	background-color: black;

	font-family: Tahoma, Geneva, sans-serif;
	color: white;
}

nav {
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 1;
    text-align: center;

	background-color: rgba(0,0,0,0.8);
    border-bottom: thin solid white;
    color: white;
}

#title {
	display: inline-block;
	/*vertical-align: center;*/
}	

#title-buttons {
	display: inline-block;
	position: absolute;
	right: 5%;
	top: 0px;
}

li.nav-item {
	background-color: black;
	border-radius: 4px;
	list-style-type: none;
	color: white;
	float: right;
	margin-right: 6px;
	margin-left: 6px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

li.nav-item:hover {
	background-color: darkgray;
}

li img {
	padding-top: 7px;
}

#wrapper {
	/*background-color: blue;*/
	margin-top: 80px;
	width: 100%;
}

#content {
	padding-top: 50px;
	width: 920px;
	height: 100%;
	margin: auto;
}

#info {
	height: 100px;
	width: 80%;
	padding-top: 20px;
	margin: auto;
	color: white;
}

hr {
	color: white;
}

h1.turn {
	-ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);

	text-align: right;
	position: absolute;
	margin-left: -60px;
	margin-top: 90px;
	width: 180px;
}

.items {
	padding-left: 80px;
	overflow: auto;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

.item {
	display: list-item;
	float: left;
	list-style-type: none;
	margin-bottom: 22px;
	margin-left: 12px;
	margin-right: 12px;
	position: relative;
	width: 180px;
	height: 180px;
	cursor: pointer;

	border-style: solid;
	border-color: white;

	background-color: rgba(0,0,0,0.6);
}

.item img {
	padding-top: 0;
	position: absolute;
	z-index: -1;
}

.item:hover {
	background-color: rgba(255,255,255,0.0);
}

.item.clear {
	background-color: rgba(0,0,0,0.0);
}

.item h2 {
	word-break: break-all;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 13px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.item p {
	padding-left: 8px;
	padding-right: 8px;
	font-size: 13px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 10%;
}

a, a:visited {
	color: white;
}

.circle {
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	overflow: hidden;
}

.anchor {
	display: block; 
	position: relative; 
	top: -150px; 
	visibility: hidden;
}

@media (max-width: 700px) {
	nav {
		height: 120px;
	}
	#wrapper {
		margin-top: 120px;
	}
	#content {
		width: 450px;
	}
	#info {
		width: 400px;
		padding-left: 25px;
		padding-right: 25px;
	}
	.items {
		padding-left: 20px;
	}
	#title-buttons {
		top: 45px;
		width: 255px;
		position: absolute;
		left: 50%;
		margin-left: -150px;
   	}
	h1.turn {
		margin-left: -75px;
		margin-top: 80px;
		width: 150px;
	}
}