html {
	height: 100%;
}
body { 
	margin: 0; 
	width: 100%;
	height: 100%;
	position: relative;
	font-family: "Courier New", Courier, monospace;
	color: lightgray;
	background-color: #564848;
}
header {
	text-align: center;
	height: 110px;
	margin-top: 20px;
	margin-bottom: -4px;
	font-size: 0;
	/* Här borde det dyka upp en liten pixelart-grejöver */
}
.headerImg {
	width: 528px;
	height: 112px;
	display: inline-block;
	background-image: url("../img/banner.png");
	background-size: 528px 112px;
	background-repeat: no-repeat;
}
#wrapper {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
  	font-size: 15px;
}
nav {
    width: 200px;
    height: 300px;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
    position: fixed;
    background-color: rgb(39,40,34);
    z-index: 5;

    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
nav a {
	margin: 20px;
	display: block;
	color: rgba(132,214,45,1);
	text-decoration: none;
}
nav a:visited {
	color: rgba(132,214,45,1);
	text-decoration: none;
}
nav a.contact {
	color: darkgray;
	font-size: 12pt;
	padding-left: 20px;
	margin: 0;
}
nav h1 {
	text-align: left;
	color: rgba(241,39,114,1);
	font-size: 25pt;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
}
h1 {
	text-align: center;
	padding-bottom: 8px;
}
h2 {
	padding-left: 10px;
	margin-top: 3px;
	margin-bottom: 0;
	font-size: 14pt;
}
h3 {
	padding-left: 10px;
	font-size: 12pt;
	margin-top: 0;
	margin-bottom: 2px;
	color: dimgray;
}
p {
	padding-left: 10px;
	margin-top: 2px;
	padding-top: 0;
	color: darkgray;
}
img:hover {
/*	filter: brightness(120%);
	-webkit-filter: brightness(120%);
	-moz-filter: brightness(120%);
	-o-filter: brightness(120%);
	-ms-filter: brightness(120%);

	opacity:0.6;*/
}
#container {
	height:500px;
    margin:0px auto;
    overflow:hidden;
    /*background:#000fff;*/
    width: 900px;
}
.award {
	position: absolute;
	right: -20px;
	top: -20px;
	z-index: 100;
}
.award img:hover {
	opacity: 1;
}
.item { 
	width: 280px;
	margin: 5px;
	padding: 5px;
	padding-bottom:0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: rgb(39,40,34);
}
.item.work { 
	color: rgba(241,39,114,1);
}
.item.project {
	color: rgba(132,214,45,1);
}
.item.art {
	color: rgba(174,129,247,1);
}

hr {
	width: 94%;
}

.item.work hr {
	border: 1px solid rgba(241,39,114,1);
}

.item.project hr {
	border: 1px solid rgba(132,214,45,1);
}

@media (orientation: portrait) {
	#wrapper {
		width: 90%;
	}
	#container {
		width: 100%;
	}
	nav {
		float: none;
		text-align: center;
		height: 15%;
		width: 70%;
		position: fixed;
		top: 10px;
		z-index: 4;

		right: 0;
		left: 0;
		margin-right: auto;
		margin-left: auto;
	}
	nav a {
		display: inline;
		font-size: 4vw;
	}
	nav a.contact {
		font-size: 2.8vw;
	}
	nav h1 {
		text-align: center;
		margin-top: 0;
		padding-top: 10px;
		font-size: 4vw;
	}
	#container {
		padding-top: 20%;
	}
	.headerImg {
		display: none;
	}
	.item {
 		width: 80%;
 		margin-left: 5%;
 		margin-right: 5%;
 		margin-bottom: 5%;
 		padding: 5%;
	}
	.item img {
		width: 100%;
		height: auto;
	}
	.item h1 {
		font-size: 6vw;
	}
	.item h2 {
		margin-top: 3%;
		font-size: 5vw;
	}
	.item h3 {
		font-size: 4vw;
	}	
	.item p {
		font-size: 3.5vw;
	}
	.item hr {
		border: 5px solid !important;
	}
	#home {
		font-size: 0;
	}
}

@media (orientation: landscape) and (max-width: 1300px) {
	#container {
		width: 80%;
		margin-left: 20%;
	}
	#wrapper {
	}
}