/* ------------------------ Container ------------------------ */

.project {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  position: relative;
}

.project p {
  position: absolute;
  top: 8px;
  left: 16px;
	-webkit-text-stroke: 2px rgb(255, 255, 255);
  text-stroke: 2px white;
}

.imageAndText {
  position: relative;
}