/* ------------------------ Project on main page ------------------------ */

.work {
  display: flex;
  /* justify-content: center; */
  /* margin-top: 1.5rem; */
  /* position: relative; */

  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  /* background-color: lightblue; */
}

.workImage {
  height: 100%;
  width: 400px;
  object-fit: scale-down;
  padding-right: 5%;
}

/* Title, subtitle and text for a work item */
.workText {
  width: 400px;
}

.centerTitle {
  padding-top: 35px;
  text-align: center;
}

.spacer {
  width: 25%;
  border-top: 1px solid black;
  margin: 0 auto;
  padding-top: 35px;
  margin-top: 35px;
}

/* ------------------------ Content ------------------------ */

.content a {
  text-decoration: none;
  color: rgb(126, 126, 126);
  font-size: 1.1rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

.content h1, h2, h3, h3, h4, p, li {
  color: black;
}

.content h1 {
  font-size: 1.7rem;
  font-weight: 270;
  margin-bottom: 0.5rem;
}

.content h2 {
  font-size: 1.5rem;
  font-weight: 250;
}

.content h4 {
  font-size: 1rem;
  font-weight: 200;
}

.content p {
  font-size: 1.1rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

p.year {
  margin-top: 0;
  padding-top: 0;
}